.tag {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 5px;
}

.s {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 12px;
}

.m {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
}

.ghost {
    border: 1px solid var(--gray-light);
}

.blue {
    background: #3E1FFA;
    color: var(--white);
    font-weight: bold;
}

.grey {
    background: #B3C0D9;
    color: var(--white);
    font-weight: bold;
}

.primary {
    border: 1px solid var(--primary);
    background: none;
    color: var(--primary);
}
